#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rightside {
    margin-left:10px;
}

@media only screen and (max-width:700px)
{
    #sketchpad 
    {
        height:300px;
        width:250px;
        border:2px solid #888;
        border-radius:4px;
        position:relative; 
    }

}

@media only screen and (min-width:700px)
{
    #sketchpad 
    {
        height:600px;
        width:1100px;
        border:2px solid #888;
        border-radius:4px;
        position:relative; 
    }
}

#clearbutton {
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    background: #eee;
    border: 1px solid #888;
    text-align:center;
}