#appname
{
	text-align: center;
	font-family: "Comic Sans MS";
}

.calendar
{
	display: none;
}

img
{
	height: 10.8%;
	width: 10.8%;
	padding-left: 4.1%;
	padding-right: 0.5%;
}

.line
{
	float: left;
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: rgb(83, 140, 198);
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style-type: none;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

@media only screen and (max-width:500px)
{
	#menuicon
	{
		height: 30%;
		width: 30%;
	}

	#main_question
	{
		text-align: center;
	}

	h1
	{
		font-size: 200%;
	}
}

@media only screen and (min-width:500px)
{
	#menuicon
	{
		height: 80px;
		width: 100px;
	}

	h1
	{
		font-size: 320%;
		padding-right: -50%;
	}
}